<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <div id="main">
      <h1>Select instrument and granularity for Historical price</h1>
      <form action="#" th:action="@{/hist_prices}" th:object="${param}" method="post">
          <select name="instruments" th:field="*{instrument}">
              <option value="EUR_USD">EUR_USD</option>
              <option value="USD_CHF">USD_CHF</option>
              <option value="GBP_USD">GBP_USD</option>
              <option value="USD_JPY">USD_JPY</option>
          </select>
          <select name="granularity" th:field="*{granularity}">
              <option value="M1">M1</option>
              <option value="H1">H1</option>
              <option value="D">D</option>
              <option value="W">W</option>
              <option value="M">M</option>
          </select>
          <input type="submit" value="Submit">
      </form>
  </div>
</body>
</html>