<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload">
    <div id="main">
        <h1>Select instrument for Actual price</h1>
        <form action="#" th:action="@{/actual_prices}" th:object="${par}" method="post">
            <select name="instruments" th:field="*{instrument}">
                <option value="EUR_USD">EUR_USD</option>
                <option value="USD_CHF">USD_CHF</option>
                <option value="GBP_USD">GBP_USD</option>
                <option value="USD_JPY">USD_JPY</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>